---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" description="About page">
  <iframe
    src="https://giphy.com/embed/jUwpNzg9IcyrK"
    width="360"
    height="240"
    class="giphy-embed mx-auto"
  >
  </iframe>
  <div class="prose my-8">
    <p>I am yet another software developer on the internet.</p>
    <p>Contact me at self at garytrakhman.com</p>
  </div>
</BaseLayout>
